* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box1 {
    background: green;
    width: 500px;
    height: 400px;
    margin: 0 auto;
    padding: 10px;
}

.box2 {
    background: blue;
    height: 100%;
    padding: 10px;
}

.box3 {
    background: orange;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.box4 {
    background: pink;
    height: calc(50% - 20px);
    margin: 10px;
}