.row-of-icons {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */      
  }
.cutome_btn{
    width: 150px;
    background: rgba(245, 222, 179, 0.7);
    padding: 10px 5px;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 400;
}

.cutome_btn:active{
    background: wheat;
}

@media only screen and (max-height: 400px) {
    .cutome_btn{
        width: 100px;
        padding: 2px;
    }
}

@media only screen and (max-width: 812px) {
    .cutome_btn{
        width: 150px;
    }
}


